# Format: //devtools/kokoro/config/proto/build.proto

container_properties {
  docker_image: "us-docker.pkg.dev/google.com/android-llvm-kokoro/android-llvm/llvm-ubuntu:prod"
  docker_user: "nobody"
}
