# Format: //devtools/kokoro/config/proto/build.proto

# These are artifacts we want to save once the build is done.
action {
  define_artifacts {
    regex: "git/dist/*"
  }
}

container_properties {
  docker_image: "us-docker.pkg.dev/google.com/android-llvm-kokoro/android-llvm/llvm-ubuntu:prod"
  docker_user: "nobody"
  docker_privileged: true
}
